
body {
	font-family: 'Murecho', sans-serif;
	color: #666;
	font-size: 22px;
	line-height: 1.5;
	}
header, footer{
	background-color: #bacf99;
	
}
main{
	margin: 20px auto;
}
/* Header */
/* Toggle Button */
header div{
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	align-items: center;
}
.toggle-btn{
	border: none;
	outline: none;
	background-color: #bacf99;
	fill:#003249;
	margin-left:auto;
}
.toggle-btn:hover,
.toggle-btn:active{
	cursor: pointer;
	fill: #FEDCDB;
}

/* Menu list */
.menu{
	z-index: 100;
	position: fixed;
	top: 0;
	left: -999em;
	background-color: #bacf99;
	transition:left 0.5s ease-in-out;
	height: 100vh;
	padding: 1rem;
	width: auto;
}
.show-nav{
	left: 0;
}
.menu li{
	margin-top:2rem ;
	line-height: 50px;
	list-style-type:none;
}
header a{
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.8rem;
	display: block;
	padding:0 1rem;
	color: #003249;
}
a:hover,
a:active{
	background-color: #003249;
	color: white;
	border-radius: 3px;
}

/* --- Typographical Scales --- */

/* Viewport is the browser window size. 1vw = 1% of viewport width. */
header h1{ /* 64px is 3.333%  of 1920px */
	font-size: clamp(3rem, 7.54vw, 6.3rem);
}
header h2 { /* 40px is 2.083%  of 1920px */
	font-size: clamp(2.25rem, 5.6vw, 4.7rem);
	margin: 2rem 0;
}

.shine {  /*  Call to action color  */
	color: #b4dc72;
}

h1, h2, h3 {
	font-family: 'Bebas Neue', cursive;
	line-height: 1.5;
	letter-spacing: 0.18rem;
	text-transform: uppercase;
	color: #546f46;
}
header h1, header h2{
	text-shadow: 2px 2px 5px rgb(84 111 70);
	line-height: 1;
}

h2, h3 {
	margin: 30px 0;
}
h2 {
	font-size: clamp(2rem, 4.66vw, 3.5rem);
}

h3 {
	font-size: clamp(1.5rem, 2.66vw, 2rem);
}

h4{
	font-size: clamp(1.125rem, 2vw, 1.5rem);
	margin:22px 0;
}
p {
	margin-bottom: 18px;
	font-size: clamp(0.875rem, 1.66vw, 1.25rem);
}
li{
	font-size: clamp(0.875rem, 1.5vw, 1.12rem);
}
/* layout */

nav {
	background-color: #fff;
	width: 100%;
}

.w3-bar-item:link, .w3-bar-item:visited {
	color:#427ac1;
	text-decoration: none;
}

.w3-bar-item:hover, .w3-bar-item:active {
	color: #333;
	text-decoration: underline;
}

/*  Places the content image in the bg with the headings on top  */
.header-bg-wrap {
  	overflow: hidden;
  	position: relative;
}

.header-bg-image {
  	/*The opacity property specifies the opacity/transparency of an element.*/
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: auto;
}

.header-content {
	padding: 2rem 0;
	position: relative;
	text-align: center;
	margin: 1rem;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
    /* box-shadow: 0 0 15px rgb(84 111 70); */
  }

main {
	overflow: hidden;
}
img{
	margin: 1rem auto;
}
aside img{
	margin: 0 auto;
}
main .grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'content'
	'ad';
}
.grid .ad{
	grid-area: ad;
}
.grid .content{
	grid-area: content;
} 
.content {
	margin-left: auto;
 	margin-right: auto;
  	width: 80%;
}

article img {
	border: none;
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
}

.image-container {
	width: 70%;
	margin: 30px auto;
}

aside.author{
    border-top:2px solid black;
    border-bottom:2px solid black;
    padding:1rem;
    margin:1rem;
}

footer {
	padding: 40px 0;
	margin-top: 24px;
}

footer ol {
	font-size: 20px;
	text-align: center;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap:20px;
	padding: 0 10px;
}
footer ol li{
	border: 2px solid #546f46;
	border-radius: 5px;
	flex: 1 0 14rem;
	max-width:15rem;
}
footer ol li a{
	display: block;
	font-weight: 700;
	padding:15px;

}

footer a:link, a:visited {
	color:#546f46;
	text-decoration: none;
}

footer a:hover, a:active {
	text-decoration: underline;
	background-color: #bacf99;
}

@media only screen and (min-width: 600px){
	.flex{
		display: flex;
		justify-content:space-between;
		align-items:center;
		width:100%;
	}
	.flex img{
		width:48%;
	}
}

@media only screen and (min-width: 833px){
	.header-bg-wrap {
		margin-bottom:2rem;
	}
	
	}

@media only screen and  (min-width:900px) {
	.toggle-btn{
		display: none;
	}
	.menu{
		position:static;
		height: auto;
		margin-left:auto;
		padding:0;
	}
	.menu ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		}
	.menu li{
		margin-top: 0;
		}
	header div{
		display: flex;
		/* width: 1000px; */
		margin:0 auto;
	}
 nav {
 	width: 40%;
 }
.bg-container {
	width: 80%;
	margin: 20px auto;
}
main{
	width: 90%;
	margin: 20px auto;
}
main .grid{
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 'content ad';
	margin: 2rem auto;
}

.outer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

.inner-container {
	width: 48%;
	}
}

@media only screen and  (min-width:1340px) {
 
 .hamburger-position {
		margin-left: 10%;
	}
}
